In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

# Set up the connection string
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'
USER = 'postgres'
PASSWORD = '123456'
PORT = 5432
DATABASE = 'modeldb'

# Create an engine and connect to the PostgreSQL database
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")

# Load CSV data into a DataFrame
news_df = pd.read_csv(r'D:\projects\10ac_week0\data\data.csv')

# Print the column names and the first few rows of the DataFrame
print("Columns in DataFrame:", news_df.columns)
print("First few rows of DataFrame:")
print(news_df.head())

Columns in DataFrame: Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')
First few rows of DataFrame:
   article_id source_id                   source_name  \
0       89541       NaN  International Business Times
1       89542       NaN                    Prtimes.jp
2       89543       NaN                      VOA News
3       89545       NaN            The Indian Express
4       89547       NaN           The Times of Israel

                                       author  \
0                              Paavan MATHEMA
1                                         NaN
2  webdesk@voanews.com (Agence France-Presse)
3                                   Editorial
4                                 Jacob Magid

                                               title  \
0  UN Chief Urges World To 'Stop The Madness' Of ...
1              RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2  UN Chief Urges World to 'Stop the Madness' of ...
3  Sikkim warning: Hydroelectricity push must be ...
4  200 foreigners, dual nationals cut down in Ham...

                                         description  \
0  UN Secretary-General Antonio Guterres urged th...
1  [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2  UN Secretary-General Antonio Guterres urged th...
3  Ecologists caution against the adverse effects...
4  France lost 35 citizens, Thailand 33, US 31, U...

                                                 url  \
0  https://www.ibtimes.com/un-chief-urges-world-s...
1  https://prtimes.jp/main/html/rd/p/000000147.00...
2  https://www.voanews.com/a/un-chief-urges-world...
3  https://indianexpress.com/article/opinion/edit...
4  https://www.timesofisrael.com/200-foreigners-d...

                                        url_to_image  \
0  https://d.ibtimes.com/en/full/4496078/nepals-g...
1  https://prtimes.jp/i/32220/147/ogp/d32220-147-...
2  https://gdb.voanews.com/01000000-0a00-0242-60f...
3  https://images.indianexpress.com/2023/10/edit-...
4  https://static.timesofisrael.com/www/uploads/2...

                 published_at  \
0  2023-10-30 10:12:35.000000
1  2023-10-06 04:40:02.000000
2  2023-10-30 10:53:30.000000
3  2023-10-06 01:20:24.000000
4  2023-10-27 01:08:34.000000

                                             content category  \
0  UN Secretary-General Antonio Guterres urged th...    Nepal
1  RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2  Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3  At least 14 persons lost their lives and more ...    Nepal
4  Scores of foreign citizens were killed, taken ...    Nepal

                                        full_content
0  UN Secretary-General Antonio Guterres urged th...
1                                                NaN
2                                                NaN
3  At least 14 persons lost their lives and more ...
4                                                NaN

In [2]:

# Remove rows where 'source_id' is NaN
news_df = news_df.dropna(subset=['source_id'])

# Connect to the 'modeldb' database using psycopg2
conn = psycopg2.connect(
    dbname="modeldb",
    user="postgres",
    password="123456",
    host="localhost",
    port="5432"
)

cursor = conn.cursor()

# SQL command to drop the 'articles' table if it exists
drop_articles_table = "DROP TABLE IF EXISTS articles CASCADE;"
cursor.execute(drop_articles_table)
conn.commit()
print("Articles table dropped successfully.")

# SQL command to drop the 'sources' table if it exists
drop_sources_table = "DROP TABLE IF EXISTS sources;"
cursor.execute(drop_sources_table)
conn.commit()
print("Sources table dropped successfully.")

# SQL command to create the 'sources' table with a primary key
create_sources_table = """
CREATE TABLE sources (
    source_id SERIAL PRIMARY KEY,
    source_name VARCHAR(255) NOT NULL
);
"""

# Execute the SQL command
cursor.execute(create_sources_table)
conn.commit()
print("Sources table created successfully.")

# SQL command to create the 'articles' table
create_articles_table = """
CREATE TABLE articles (
    article_id SERIAL PRIMARY KEY,
    source_id INTEGER REFERENCES sources(source_id) ON DELETE CASCADE,
    title TEXT,
    description TEXT,
    url TEXT,
    published_at TIMESTAMP,
    content TEXT,
    category VARCHAR(255),
    full_content TEXT
);
"""

# Execute the SQL command
cursor.execute(create_articles_table)
conn.commit()
print("Articles table created successfully.")

# Close the connection
cursor.close()
conn.close()

Articles table dropped successfully.
Sources table dropped successfully.
Sources table created successfully.
Articles table created successfully.

In [8]:
import pandas as pd
from sqlalchemy import create_engine

# Define the PostgreSQL connection parameters
DATABASE_URI = 'postgresql+psycopg2://postgres:123456@localhost:5432/modeldb'

# Create an engine instance
engine = create_engine(DATABASE_URI)

# Prepare the 'sources' DataFrame
if 'source_name' in news_df.columns:
    sources_df = news_df[['source_id', 'source_name']].drop_duplicates().dropna(subset=['source_id'])
else:
    print(f"Warning: 'source_name' column is missing from the DataFrame. Existing columns: {news_df.columns}")

# Insert data into the 'sources' table
if not sources_df.empty:
    sources_df.to_sql('sources', con=engine, if_exists='append', index=False)
    print("Sources data appended successfully.")
else:
    print("Skipping 'sources' table insertion due to missing columns.")

# Prepare the 'articles' DataFrame
article_columns = ['source_id', 'title', 'description', 'url', 'published_at', 'content', 'category', 'full_content']
if all(col in news_df.columns for col in article_columns):
    articles_df = news_df[article_columns].dropna(subset=['source_id'])
    # Insert data into the 'articles' table
    articles_df.to_sql('articles', con=engine, if_exists='append', index=False)
    print("Articles data appended successfully.")
else:
    print(f"Warning: Some required columns for 'articles' are missing. Existing columns: {news_df.columns}")

# Example: Query the number of articles per source
query = """
SELECT source_name, COUNT(*) AS article_count
FROM articles
JOIN sources ON articles.source_id = sources.source_id
GROUP BY source_name
ORDER BY article_count DESC;
"""

result = pd.read_sql(query, con=engine)
print(result)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type integer: "al-jazeera-english"
LINE 1: ...ERT INTO sources (source_id, source_name) VALUES ('al-jazeer...
                                                             ^

[SQL: INSERT INTO sources (source_id, source_name) VALUES (%(source_id__0)s, %(source_name__0)s), (%(source_id__1)s, %(source_name__1)s), (%(source_id__2)s, %(source_name__2)s), (%(source_id__3)s, %(source_name__3)s), (%(source_id__4)s, %(source_name__4)s) ... 2242 characters truncated ... urce_name__58)s), (%(source_id__59)s, %(source_name__59)s), (%(source_id__60)s, %(source_name__60)s)]
[parameters: {'source_name__0': 'Al Jazeera English', 'source_id__0': 'al-jazeera-english', 'source_name__1': 'ABC News (AU)', 'source_id__1': 'abc-news-au', 'source_name__2': 'BBC News', 'source_id__2': 'bbc-news', 'source_name__3': 'The Times of India', 'source_id__3': 'the-times-of-india', 'source_name__4': 'The Jerusalem Post', 'source_id__4': 'the-jerusalem-post', 'source_name__5': 'RT', 'source_id__5': 'rt', 'source_name__6': 'Breitbart News', 'source_id__6': 'breitbart-news', 'source_name__7': 'CBC News', 'source_id__7': 'cbc-news', 'source_name__8': 'ABC News', 'source_id__8': 'abc-news', 'source_name__9': 'CNN', 'source_id__9': 'cnn', 'source_name__10': 'CBS News', 'source_id__10': 'cbs-news', 'source_name__11': 'Newsweek', 'source_id__11': 'newsweek', 'source_name__12': 'The Verge', 'source_id__12': 'the-verge', 'source_name__13': 'Business Insider', 'source_id__13': 'business-insider', 'source_name__14': 'Ars Technica', 'source_id__14': 'ars-technica', 'source_name__15': 'The Washington Post', 'source_id__15': 'the-washington-post', 'source_name__16': 'Politico', 'source_id__16': 'politico', 'source_name__17': 'Time', 'source_id__17': 'time', 'source_name__18': 'ESPN', 'source_id__18': 'espn', 'source_name__19': 'New Scientist', 'source_id__19': 'new-scientist', 'source_name__20': 'Lenta', 'source_id__20': 'lenta', 'source_name__21': 'The American Conservative', 'source_id__21': 'the-american-conservative', 'source_name__22': 'ESPN Cric Info', 'source_id__22': 'espn-cric-info', 'source_name__23': 'Bleacher Report', 'source_id__23': 'bleacher-report', 'source_name__24': 'NBC News', 'source_id__24': 'nbc-news' ... 22 parameters truncated ... 'source_name__36': 'MSNBC', 'source_id__36': 'msnbc', 'source_name__37': 'The Irish Times', 'source_id__37': 'the-irish-times', 'source_name__38': 'Fox News', 'source_id__38': 'fox-news', 'source_name__39': 'Ynet', 'source_id__39': 'ynet', 'source_name__40': 'National Geographic', 'source_id__40': 'national-geographic', 'source_name__41': 'Buzzfeed', 'source_id__41': 'buzzfeed', 'source_name__42': 'News24', 'source_id__42': 'news24', 'source_name__43': 'Die Zeit', 'source_id__43': 'die-zeit', 'source_name__44': 'Marca', 'source_id__44': 'marca', 'source_name__45': 'Hacker News', 'source_id__45': 'hacker-news', 'source_name__46': 'The Wall Street Journal', 'source_id__46': 'the-wall-street-journal', 'source_name__47': 'USA Today', 'source_id__47': 'usa-today', 'source_name__48': 'Reuters', 'source_id__48': 'reuters', 'source_name__49': 'Medical News Today', 'source_id__49': 'medical-news-today', 'source_name__50': 'The Hill', 'source_id__50': 'the-hill', 'source_name__51': 'Australian Financial Review', 'source_id__51': 'australian-financial-review', 'source_name__52': 'New York Magazine', 'source_id__52': 'new-york-magazine', 'source_name__53': 'Google News', 'source_id__53': 'google-news', 'source_name__54': 'FourFourTwo', 'source_id__54': 'four-four-two', 'source_name__55': 'TechCrunch', 'source_id__55': 'techcrunch', 'source_name__56': 'The Globe And Mail', 'source_id__56': 'the-globe-and-mail', 'source_name__57': 'Reddit /r/all', 'source_id__57': 'reddit-r-all', 'source_name__58': 'Financial Post', 'source_id__58': 'financial-post', 'source_name__59': 'Bloomberg', 'source_id__59': 'bloomberg', 'source_name__60': 'Le Monde', 'source_id__60': 'le-monde'}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)